---
layout: '../layouts/BaseLayout.astro'
title: 'Account deletion'
---

<small>Note: this page is work in progress.</small>
# Account deletion

If you want to completely remove your account from Ambientify's database, please <a href="mailto:ambientify.official@gmail.com">send an email requesting so.</a>
